In [ ]:
# PART 1:

# Your algorithm, implemented as a Python class, should have the following methods: fit and predict. 
# You are only allowed to use base Python, numpy, and scipy for the implementation of the core algorithm of your choice. 
# (For visualization and analysis, you can use other libraries.) You may reference any outside materials that you need, 
# but copying and pasting another open-source implementation is strictly prohibited.

# You'll then use your implementation on an appropriate set of data and compare the results 
# that you got from your implementation against the results yielded by the versions in the sklearn library.

In [ ]:
# PART 2:

# Your algorithm, implemented as a Python class, should have the following methods: fit and predict. 
# You are only allowed to use base Python, numpy, and scipy for the implementation of the core algorithm of your choice. 
# (For visualization and analysis, you can use other libraries.) You may reference any outside materials that you need, 
# but copying and pasting another open-source implementation is strictly prohibited.

# You'll then use your implementation on an appropriate set of data and compare the results 
# that you got from your implementation against the results yielded by the versions in the sklearn library.

In [1]:
import pandas as pd
columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']
fetaset = pd.read_csv('https://raw.githubusercontent.com/jbrownlee/Datasets/master/iris.csv', names=columns)
fetaset.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [ ]:
# We can calculate the straight line distance between two vectors using the Euclidean distance measure. 
# It is calculated as the square root of the sum of the squared differences between the two vectors.
# Euclidean Distance = sqrt(sum i to N (x1_i â€“ x2_i)^2)
# With Euclidean distance, the smaller the value, the more similar two records will be. 
# A value of 0 means that there is no difference between two records.

In [ ]:
# Euclidean distance tells us how far apart two points on a plane are

In [4]:
from math import sqrt
def euclidean_distance(first_row, second_row):
    distance = 0
    for index in range(len(first_row)-1):
        distance += (first_row[index] - second_row[index]) ** 2
        return sqrt(distance)

In [ ]:
2.7810836 - 2.550537003

In [2]:
# first_row[index]
# 2.7810836
# second_row[index]
# 1.465489372
dist = (2.550537003 - 2.362125076) ** 2

In [5]:
dist = sqrt(dist)

In [6]:
dist

0.1884119270000002

In [15]:
dataset[0]

[2.7810836, 2.550537003, 0]

In [ ]:
for i in range

In [12]:
dataset = [[2.7810836,2.550537003,0],
	[1.465489372,2.362125076,0],
	[3.396561688,4.400293529,0],
	[1.38807019,1.850220317,0],
	[3.06407232,3.005305973,0],
	[7.627531214,2.759262235,1],
	[5.332441248,2.088626775,1],
	[6.922596716,1.77106367,1],
	[8.675418651,-0.242068655,1],
	[7.673756466,3.508563011,1]]
row0 = dataset[0]
for row in dataset:
	distance = euclidean_distance(row0, row)
	print(distance)

0.0
1.3155942280000001
0.6154780879999997
1.39301341
0.2829887200000001
4.846447614000001
2.551357648
4.1415131160000005
5.894335050999999
4.892672866